/*do całej strony*/
* {
    margin  : 0;
    padding : 0;
}

html {
    background : url('../img/bg_tile.jpg') #333d43;

}

body {
    background : url('../img/bg_tile2.jpg') repeat-x top center, url('../img/bg_vert.jpg') repeat-x;
    min-height : 700px;
    font       : 14px/1.3 'Segoe UI', Arial, sans-serif;
    color      : #888;
    padding    : 10px;
}

#wrapper {
    width  : 100%;
    height : auto;
}

/*do całej strony*/

/*główna architektura strony*/
header {
    text-align  : center;
    width       : 90%;
    float       : left;
    margin-left : 55px;
    display     : inline-block;
}

footer {
    border           : 5px hidden green;
    border-radius    : 15px;
    width            : 90%;
    margin-left      : 55px;
    text-align       : center;
    padding          : 10px;
    margin-top       : 10px;
    background-color : rgba(255, 255, 255, 0.5);
    float            : left;
}

nav {
    text-align : center;
    width      : 100%;
    float      : left;
    margin     : 0 auto;
}

section {
    width            : 90%;
    float            : left; /* wyrównało się ładnie w przeglądarce*/
    background-color : rgba(255, 255, 255, 0.7);
    padding          : 5px;
    margin-left      : 55px;
    min-height       : 400px;
    /*overflow         : scroll;*/
    border           : 5px double #F6CE99;
    border-radius    : 15px;
}

article {
    padding          : 10px;
    color            : green; /*zmienia kolor tekstu w article */
    background-color : rgba(255, 255, 255, 0.5);
}

/*główna architektura strony*/

/*znaczniki*/
div.logoTitle {
    display : inline;
}

div#egg0 {
    float       : left;
    margin-left : 110px;
}

div#egg1 {
    float        : right;
    margin-top   : 10px;
    margin-right : 90px;
}

div#egg1 img {
    height : 120px;
}

#headerTitle {
    font-size   : 225%;
    font-family : Papyrus, fantasy;
    font-weight : bolder;
    display     : inline;
    top         : 50px;
    position    : relative;
}

footer strong {
    color       : #888888;
    display     : block;
    font-size   : 10px;
    font-weight : normal;
}

a, a:visited {
    text-decoration : none;
    outline         : none;
    color           : #54a6de;
}

a:hover {
    text-decoration : underline;
}

h1, h2 {
    color            : #fff;
    line-height      : 1;
    background-color : #222;
    font-family      : 'Segoe UI Light', 'Segoe UI', Arial, sans-serif;
    font-weight      : normal;
    margin           : 0 auto;
    position         : absolute;
    left             : 50%;
    margin-left      : -446px;
}

h1 {
    font-size : 36px;
    padding   : 5px 15px 10px;
    top       : 0;
}

h2 {
    font-size : 14px;
    padding   : 4px 13px 9px 11px;
    top       : 51px;
}

/*znaczniki*/

/*style do menu*/
.fancyNav {
    /* Affects the UL element */
    overflow      : hidden;
    display       : inline-block;
    margin-bottom : 2px;
    margin-top    : 2px;
}

.fancyNav li {
    /* Specifying a fallback color and we define CSS3 gradients for the major browsers: */

    background-color   : #d5f9b7;
    background-image   : -webkit-gradient(linear, left top, left bottom, from(#d5f9b7), color-stop(0.5, #cbf8a6), color-stop(0.51, #bbf08f));
    background-image   : -moz-linear-gradient(#d5f9b7 0%, #cbf8a6 50%, #bbf08f 51%);
    background-image   : -o-linear-gradient(#d5f9b7 0%, #cbf8a6 50%, #bbf08f 51%);
    background-image   : -ms-linear-gradient(#d5f9b7 0%, #cbf8a6 50%, #bbf08f 51%);
    background-image   : linear-gradient(#d5f9b7 0%, #cbf8a6 50%, #bbf08f 51%);

    border-right       : 1px solid rgba(9, 9, 9, 0.125);

    /* Adding a 1px inset highlight for a more polished efect: */

    box-shadow         : 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
    -moz-box-shadow    : 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow : 1px -1px 0 rgba(255, 255, 255, 0.6) inset;

    position           : relative;

    float              : left;
    list-style         : none;
}

.fancyNav li:after {

    /* This creates a pseudo element inslide each LI */

    content            : '.';
    text-indent        : -9999px;
    overflow           : hidden;
    position           : absolute;
    width              : 100%;
    height             : 100%;
    top                : 0;
    left               : 0;
    z-index            : 1;
    opacity            : 0;

    /* Gradients! */

    background-image   : -webkit-gradient(linear, left top, right top, from(rgba(168, 168, 168, 0.5)), color-stop(0.5, rgba(168, 168, 168, 0)), to(rgba(168, 168, 168, 0.5)));
    background-image   : -moz-linear-gradient(left, rgba(168, 168, 168, 0.5), rgba(168, 168, 168, 0) 50%, rgba(168, 168, 168, 0.5));
    background-image   : -o-linear-gradient(left, rgba(168, 168, 168, 0.5), rgba(168, 168, 168, 0) 50%, rgba(168, 168, 168, 0.5));
    background-image   : -ms-linear-gradient(left, rgba(168, 168, 168, 0.5), rgba(168, 168, 168, 0) 50%, rgba(168, 168, 168, 0.5));
    background-image   : linear-gradient(left, rgba(168, 168, 168, 0.5), rgba(168, 168, 168, 0) 50%, rgba(168, 168, 168, 0.5));

    /* Creating borders with box-shadow. Useful, as they don't affect the size of the element. */

    box-shadow         : -1px 0 0 #a3a3a3, -2px 0 0 #fff, 1px 0 0 #a3a3a3, 2px 0 0 #fff;
    -moz-box-shadow    : -1px 0 0 #a3a3a3, -2px 0 0 #fff, 1px 0 0 #a3a3a3, 2px 0 0 #fff;
    -webkit-box-shadow : -1px 0 0 #a3a3a3, -2px 0 0 #fff, 1px 0 0 #a3a3a3, 2px 0 0 #fff;

    /* This will create a smooth transition for the opacity property */

    -moz-transition    : 0.25s all;
    -webkit-transition : 0.25s all;
    -o-transition      : 0.25s all;
    transition         : 0.25s all;
}

/* Treating the first LI and li:after elements separately */

.fancyNav li:first-child {
    border-radius : 4px 0 0 4px;
}

.fancyNav li:first-child:after,
.fancyNav li.selected:first-child:after {
    box-shadow         : 1px 0 0 #a3a3a3, 2px 0 0 #fff;
    -moz-box-shadow    : 1px 0 0 #a3a3a3, 2px 0 0 #fff;
    -webkit-box-shadow : 1px 0 0 #a3a3a3, 2px 0 0 #fff;

    border-radius      : 4px 0 0 4px;
}

.fancyNav li:last-child {
    border-radius : 0 4px 4px 0;
}

/* Treating the last LI and li:after elements separately */

.fancyNav li:last-child:after,
.fancyNav li.selected:last-child:after {
    box-shadow         : -1px 0 0 #a3a3a3, -2px 0 0 #fff;
    -moz-box-shadow    : -1px 0 0 #a3a3a3, -2px 0 0 #fff;
    -webkit-box-shadow : -1px 0 0 #a3a3a3, -2px 0 0 #fff;

    border-radius      : 0 4px 4px 0;
}

.fancyNav li:hover:after,
.fancyNav li.selected:after,
.fancyNav li:target:after {
    /* This property triggers the CSS3 transition */
    opacity : 1;
}

.fancyNav:hover li.selected:after,
.fancyNav:hover li:target:after {
    /* Hides the targeted li when we are hovering on the UL */
    opacity : 0;
}

.fancyNav li.selected:hover:after,
.fancyNav li:target:hover:after {
    opacity : 1 !important;
}

/* Styling the anchor elements */

.fancyNav li a {
    color           : #5d5d5d;
    display         : inline-block;
    font            : 20px/1 Lobster, Arial, sans-serif;
    padding         : 12px 35px 14px;
    position        : relative;
    text-shadow     : 1px 1px 0 rgba(255, 255, 255, 0.6);
    z-index         : 2;
    text-decoration : none !important;
    white-space     : nowrap;
}

.fancyNav a.homeIcon {
    background    : url('../img/home.png') no-repeat center center;
    display       : block;
    overflow      : hidden;
    padding-left  : 12px;
    padding-right : 12px;
    text-indent   : -9999px;
    width         : 16px;
}

/*style do menu*/
