{% extends "bazowy.html" %}{% load staticfiles %}
{% block tytulStrony %} MZ :: ADLER {% endblock %}
{% block tytul %}Wylogowany{% endblock %}
{% block head %}
    <script type="text/javascript">
        function redirect() {
            console.log('Redirecting to /');
            setTimeout(function () {
                window.location.href = "/";
            }, 5000);
        }
    </script>
{% endblock %}
{% block trescStrony %}
    <div id="contentWrapper">
        <div class="content">
            {% if not user.is_authenticated %}
                {{ state }}
                <p>Przekierowanie do strony głównej za 5 sekund</p>
                <script type="text/javascript">
                    redirect()
                </script>
            {% endif %}
        </div>
    </div>
{% endblock %}