{% extends "bazowy.html" %}
{% block tytulStrony %} Zmień fakturę dla {{ zamowienie.klient.firma }} {% endblock %}
{% block tytul %}
    Faktura: {{ zamowienie.klient.firma }}
{% endblock %}
{% block trescStrony %}
    {% if klient_list %}
        <p>Liczba klientów: <strong>{{ klient_list.count }}</strong></p>
        <p>
        <ol>
            {% for klient in klient_list %}
                <li>{{ klient.firma }}</li>
            {% endfor %}
        </ol>
        </p>
    {% else %}
        <p>Brak klientów</p>
    {% endif %}
{% endblock %}