{% extends "bazowy.html" %}
{% load i18n %}
{% load static %}
{% block tytulStrony %} MZ :: ADLER :: Nowe zamówienie {% endblock %}
{% block tytul %}Zamówienie{% endblock %}
{% block head %}
    {{ wizard.form.media }}
{% endblock %}
{% block trescStrony %}
    <p style="text-align: center">
        <strong>
            Krok {{ wizard.steps.step1 }} z {{ wizard.steps.count }}
        </strong>
    </p>
    <form id="wizardForm" action="" method="post" class="beautifulForm">
        {% csrf_token %}
        <table>
            {{ wizard.management_form }}
            {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}
                    {{ form }}
                {% endfor %}
            {% else %}
                {{ wizard.form }}
            {% endif %}
        </table>
        {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit"
                    value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
            <button name="wizard_goto_step" type="submit"
                    value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
        {% endif %}
        <input type="submit" value="{% trans "submit" %}" />
    </form>
{% endblock %}