{% extends "bazowy.html" %}
{% load i18n %}
{% load static %}
{% block tytulStrony %} MZ :: ADLER :: Nowe zamówienie {% endblock %}
{% block tytul %}Zamówienie{% endblock %}
{% block head %}
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/le-frog/jquery-ui.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="{% static 'js/jquery.datapicker.dateTimePicker.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $.datepicker.regional['pl'] = {
                closeText         : 'Zamknij',
                prevText          : '&#x3c;Poprzedni',
                nextText          : 'Następny&#x3e;',
                currentText       : 'Dziś',
                monthNames        : ['Styczeń', 'Luty', 'Marzec', 'Kwiecień', 'Maj', 'Czerwiec',
                    'Lipiec', 'Sierpień', 'Wrzesień', 'Październik', 'Listopad', 'Grudzień'],
                monthNamesShort   : ['Sty', 'Lu', 'Mar', 'Kw', 'Maj', 'Cze',
                    'Lip', 'Sie', 'Wrz', 'Pa', 'Lis', 'Gru'],
                dayNames          : ['Niedziela', 'Poniedziałek', 'Wtorek', 'Środa', 'Czwartek', 'Piątek', 'Sobota'],
                dayNamesShort     : ['Nie', 'Pn', 'Wt', 'Śr', 'Czw', 'Pt', 'So'],
                dayNamesMin       : ['N', 'Pn', 'Wt', 'Śr', 'Cz', 'Pt', 'So'],
                weekHeader        : 'Tydz',
                dateFormat        : 'dd.mm.yy',
                firstDay          : 1,
                isRTL             : false,
                showMonthAfterYear: false,
                showOtherMonths   : true,
                selectOtherMonths : true,
                changeMonth       : true,
                changeYear        : true,
                showWeek          : true,
                showOn            : "button",
                buttonImage       : '{% static "img/calendar.gif" %}',
                buttonImageOnly   : true,
                yearSuffix        : ''};
            $.datepicker.setDefaults($.datepicker.regional['pl']);

            $.timepicker.regional['pl'] = {
                timeOnlyTitle: 'Wybierz godzinę',
                timeText     : 'Czas',
                hourText     : 'G',
                minuteText   : 'M',
                timeFormat   : 'HH:mm',
                isRTL        : false
            };
            $.timepicker.setDefaults($.timepicker.regional['pl']);

            $("#id_invoice-dw").datepicker();
            $("#id_invoice-dr").datetimepicker({
                hourGrid  : 4,
                minuteGrid: 10
            });
        });
    </script>
    <link rel="stylesheet"
          type="text/css"
          href="{% static "css/jquery.datetimepicker.css" %}?{% now "U" %}" />
    {{ wizard.form.media }}
{% endblock %}
{% block trescStrony %}
    <div class="blockOuter">
        <div class="blockInner">
            <p style="text-align: center">
                <strong>
                    Krok {{ wizard.steps.step1 }} z {{ wizard.steps.count }}
                </strong>
            </p>

            <form id="wizardForm" action="" method="post" class="beautifulForm">
                {% csrf_token %}
                <table>
                    {{ wizard.management_form }}
                    {% if wizard.form.forms %}
                        {{ wizard.form.management_form }}
                        {% for form in wizard.form.forms %}
                            {{ form }}
                        {% endfor %}
                    {% else %}
                        {{ wizard.form }}
                    {% endif %}
                </table>
                {% if wizard.steps.prev %}
                    <button name="wizard_goto_step" type="submit"
                            value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
                    <button name="wizard_goto_step" type="submit"
                            value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
                {% endif %}
                <input type="submit" value="{% trans "submit" %}" />
            </form>
        </div>
    </div>
{% endblock %}