<!DOCTYPE html>
{% load staticfiles %}
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <!-- wymuszenie polskiego kodowania znaków -->
    <title>{% block tytulStrony %}domyślny{% endblock %}</title>
    <link rel="stylesheet"
          type="text/css"
          href="{% static "css/main_style.css" %}?{% now "U" %}" />
    <link rel="stylesheet"
          type="text/css"
          href="{% static "css/form_style.css" %}?{% now "U" %}" />
    {% block head %}{% endblock %}
</head>
<body>
<div id="wrapper">
    <header>
        <div id="egg0" class="logoTitle">
            <img src="{% static "img/egg_0.png" %}" alt="Logo Firmy"
                 title="źródło: http://www.imageenvision.com/150/14902-human-arms-reaching-out-from-an-egg-clipart-by-djart.jpg">
        </div>
        <p id="headerTitle">JAJA PROSTO OD KURY</p>

        <div id="egg1" class="logoTitle">
            <img src="{% static "img/egg_1.png" %}" alt="Logo Firmy"
                 title="źródło: http://www.imageenvision.com/150/14901-egg-with-feet-clipart-by-djart.jpg">
        </div>
    </header>
    <nav>
        <ul class="fancyNav">
            <li id="home">
                <a href="/" class="homeIcon" title="Strona główna">###</a>
            </li>
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    <li>
                        <a href="/admin/" title="Kliknij aby zalogować się do panelu administratora" target="_blank">Panel
                                                                                                                     Administratora</a>
                    </li>
                {% else %}
                    <li>
                        <a href="/faktura/nowa/" title="Kliknij aby utworzyć nowe zamówienie">Nowe zamówienie</a>
                    </li>
                    <li>
                        <a href="/faktura/klient/{{ user.username }}" title="Pokaż historię zamówień">Historia
                                                                                                      zamówień</a>
                    </li>
                {% endif %}
            {% endif %}
            <li>
                <a href="/kontakt/">Kontakt</a>
            </li>
            <li>
                <a href="/polityka/prywatnosci/">Polityka prywatności</a>
            </li>
            {% if not user.is_authenticated %}
                <li id="register">
                    <a href="/accounts/register" class="registerIcon"
                       title="Zarejestruj się">###</a>
                </li>
                <li id="login">
                    <a href="/accounts/login" class="loginIcon"
                       title="Zaloguj się aby skorzystać z większej ilości funkcji">###</a>
                </li>
            {% else %}
                <li id="logout">
                    <a href="/accounts/logout" class="logoutIcon" title="Wyloguj się z aplikacji">###</a>
                </li>
            {% endif %}
            {% block nawigacja %}{% endblock %}
        </ul>
        {% if user.is_authenticated %}
            <p style="font-size: xx-large;color: gray">Zalogowany jako:
                <i>{{ user.username }} [{{ user.first_name }} {{ user.last_name }}]</i></p>
        {% endif %}
    </nav>

    <section>
        <article>
            <p class="pageTitle">
                {% block tytul %}{% endblock %}
            </p>
            {% block trescStrony %}{% endblock %}
        </article>
    </section>

    <footer>
        <p>
            Strona została stworzona na potrzeby pracy dyplomowej
            <strong>
                KOMPUTEROWE WSPOMAGANIE PROCESÓW LOGISTYCZNYCH W WYBRANYM PRZEDSIĘBIORSTWIE
            </strong>
        </p>

        <p>
            Maja Staszczyk, nr albumu: 158 058
        </p>
    </footer>
</div>
</body>
</html>